.StockWatchlist-container {
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #282c34;
	margin: 10px;
	width: 360px;
	height: 900px;
	border-radius: 5%;
	margin-right: 30px;
}

.StockWatchlist-header {
    text-align: center;
}

.StockWatchlist-item {
    display: flex;
    justify-content: space-between;
    font-size: 13pt;
    margin-bottom: 24px;
}

.StockWatchlist-label {
    font-weight: bold;
	margin-left: 40px;
	margin-right: 40px;
}

.StockWatchlist-line {
    width: 90%;
}


.StockWatchlist-addContainer {
	display: flex;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 30px;
}

.StockWatchlist-textArea {
    font-size: medium;
	height: 24px;
	width: 100px;
}

.StockWatchlist-add {
    height: 30px;
}

@media (max-width: 1450px){
	.StockWatchlist-label {
		font-size: 12pt;
	}
}

@media (max-width: 1300px){
	.StockWatchlist-label {
		font-size: 10pt;
	}
}


@media (max-height: 1050px){
	.StockWatchlist-container {
		height: 800px;
	}
	.StockWatchlist-label {
		font-size: 12pt;
	}
}

@media (max-height: 930px){
	.StockWatchlist-container {
		height: 700px;
	}
}
