.StockPortfolio-container {
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #282c34;
	width: 67%;
	height: 900px;
	border-radius: 3%;
	margin-top: 10px;
	margin-left: 100px;
}

.StockPortfolio-header {
    text-align: center;
}

.StockPortfolio-resultHeader {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 16px;
}

.StockPortfolio-resultDesctiption {
    font-weight: bold;
    border: 1px solid white;
    text-align: left;
}
