.Instruction-flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.instructionHead{
  margin-top: 2.5px;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 0px;
}

.instructionBody{
  margin-top: 500;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 5000;

}