.Scoreboard1-basics{
    display: flex;
    width: 500px;
    height: 400px;
    margin: 8px;
    border-style: dashed;
    border-color: black;
}

.Scoreboard1-resultHeader {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
    margin: 16px;
}

.Scoreboard1-resultDesctiption {
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
}