.StockStats-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color:  #282c34;
    margin: 10px;
    width: 600px;
    height: 540px;
    border-radius: 10%;
    margin-left: 100px;
}

.StockStats-header {
    margin: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.StockStats-item {
    display: flex;
    justify-content: space-between;
    font-size: 13pt;
    margin-bottom: 24px;
}

.StockStats-label {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

.StockStats-info {
    margin-right: 20px;
}

.equalbutton{
    padding: 2px;
}


@media (max-width: 1650px){
    .StockStats-container {
        margin-left: 10px;
    }
}

@media (max-width: 1450px){
    .StockStats-container {
        width: 525px;
    }
}

@media (max-width: 1275px){
    .StockStats-container {
        width: 450px;
    }
}

@media (max-width: 1100px){
    .StockStats-container {
        width: 400px;
    }
}

@media (max-width: 980px){
    .StockStats-container {
        width: 337px;
    }
}



@media (max-height: 1000px){
    .StockStats-container {
        height: 450px;
    }
    .StockStats-label {
        margin-bottom: 1px;
    }
    .StockStats-header {
        margin: 16px;
        margin-bottom: 36px;
    }
}

@media (max-height: 900px){
    .StockStats-container {
        height: 360px;
    }
    .StockStats-header {
        margin: 8px;
        margin-bottom: 16px;
    }
    .StockStats-label {
        margin-bottom: 1px;
    }
    .equalbutton{
        padding: 0px;
        height: 20px;
    }
    .StockStats-item {
        font-size: 12pt;
        margin-bottom: 18px;
    }
}

@media (max-height: 750px){
    .StockStats-container {
        height: 240px;
    }
    .StockStats-header {
        margin: 4px;
        font-size: large;
    }
    .StockStats-label {
        margin-bottom: 0px;
    }
    .StockStats-item {
        font-size: 10pt;
        margin-bottom: 8px;
    }
}