.StockStats-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color:  #282c34;
    margin: 10px;
    width: 600px;
    height: 540px;
    border-radius: 10%;
    margin-left: 100px;
}

.StockStats-header {
    margin: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.StockStats-item {
    display: flex;
    justify-content: space-between;
    font-size: 13pt;
    margin-bottom: 24px;
}

.StockStats-label {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

.StockStats-info {
    margin-right: 20px;
}

.equalbutton{
    padding: 2px;
}