@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

header{
  font-family: "Open Sans";
}

.MNavBar-header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 16px;
    color: white;
    font-weight: bolder;
    height: 40px;
    left: 5px;
}

.section{
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-decoration: none;

}

.bar{
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;

}

.top-align{
  top:2px;
}

.allButtons{
  display: flex;
  position: absolute;
  text-decoration: none;
  left: 10px;
  top: 0px;
}

.rm_decor{
  text-decoration: none;
  color: white;
}

.balance{
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.title{
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.nextButton{
  font-weight:600;
  font-size: 15px;
}

.nextContainer{
  margin: 10px;
}