@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

header{
  font-family: "Open Sans";
}

.MNavBar-header1 {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    font-weight: bolder;
    height: 40px;
    left: 5px;
    margin-bottom: 2px;
}

.MNavBar-header2 {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: white;
  font-weight: bolder;
  height: 40px;
  left: 5px;
  margin-bottom: 2px;
}

.section{
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-decoration: none;

}

.bar{
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;

}

.top-align{
  top:2px;
}

.allButtons{
  display: flex;
  position: absolute;
  text-decoration: none;
  left: 10px;
  top: 42px;
}

.rm_decor{
  text-decoration: none;
  color: white;
}

.balance{
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.title{
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.nextButton{
  font-weight:600;
  font-size: 15px;
  position: absolute;
  top: 48px;
  right: 280px;
}

.nextMonthButton{
  font-weight:600;
  font-size: 15px;
  position: absolute;
  top: 48px;
  right: 150px;
}

.nextQuarterButton{
  font-weight:600;
  font-size: 15px;
  position: absolute;
  top: 48px;
  right: 10px;
}

.reset{
  font-weight:600;
  font-size: 15px;
  position: absolute;
  top: 48px;
  right: 400px;
}

.nextContainer{
  margin: 20px;
}

@media (max-width: 1000px){
  .balance{
    color: white;
    font-size: 12pt;
    right: 4px;
  }
}

@media (max-width: 900px){
  .balance{
    color: white;
    font-size: 10pt;
    right: 2px;
  }
  .title{
    color: white;
    font-size: 16pt;
    font-weight: bold;
  }
  .allButtons{
    left: 0px;
  }
  .top-align{
    font-size: 9pt;
    vertical-align: middle;
  }
  .nextButton{
    font-size: 10pt;
    top: 50px;
  }
  .nextMonthButton{
    font-size: 10pt;
    top: 50px;
  }
  .nextQuarterButton{
    font-size: 10pt;
    top: 50px;
  }
}

@media (max-width: 750px){
  .balance{
    color: white;
    font-size: 8pt;
    right: 1px;
  }
  .title{
    color: white;
    font-size: 14pt;
    font-weight: bold;
  }
  .top-align{
    font-size: 7pt;
    vertical-align: middle;
  }
  .nextButton{
    font-size: 8pt;
    top: 50px;
  }
  .nextQuarterButton{
    font-size: 8pt;
    top: 50px;
  }
}