.SimulatorPanel-flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.SimulatorPanel-flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

