.App {
  text-align: center;
  background-image: url("https://www.thebalance.com/thmb/6HmkedkNEHE6G7CQAmKxbiDJTGo=/2121x1193/smart/filters:no_upscale()/wallstreet-be6e21ad26e546dd8b015d7be5d71528.jpg");
  position: fixed;
  min-width:100%;
  min-height:100%;
  background-size:cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}


.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
