.StockSymbolSearch-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color:  #282c34;
    margin: 10px;
    width: 500px;
    height: 150px;
    border-radius: 10%;
    margin-left: 100px;
}

@media (max-width: 1500px){
    .StockSymbolSearch-container {
        margin-left: 10px;
    }
}

@media (max-width: 1000px){
    .StockSymbolSearch-container {
        width: 300px;
    }
}

.StockSymbolSearch-searchAndSubmit {
    display: flex;
    flex: row;
    justify-content: center;
}

.StockSymbolSearch-header {
    text-align: center;
}

.StockSymbolSearch-textArea {
    font-size: large;
    height: 32px;
}