.StockList-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color:  #282c34;
    margin: 10px;
    width: 1700px;
    height: 970px;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}

.StockList-header {
    text-align: center;
}

.StockList-resultHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 16px;
}

.StockList-resultDesctiption1 {
    font-weight: bold;
    font-size: 14pt;
    border: 1px solid #999999;
    text-align: center;
}

.StockList-resultDesctiption {
    font-weight: 10;
    border: 1px solid  #999999;
    text-align: left;
}



@media (max-width: 1750px){
    /* .StockList-container {
        margin-right: 10px;
    } */
}

@media (max-width: 1550px){
    /* .StockList-container {
        width: 1300px;
    } */
}

@media (max-width: 1250px){
    /* .StockList-container {
        width: 600px;
    } */
}

@media (max-width: 1000px){
    /* .StockList-container {
        width: 500px;
    } */
    .StockList-header {
        font-size: 14pt;
    }

    .StockList-resultHeader {
        display: grid;
        font-size: 10pt;
        grid-template-columns: 1fr 3fr 2fr;
        margin: 12px;
    }
}


@media (max-height: 1050px){
    .StockList-container {
        height: 750px;
    }
}

@media (max-height: 880px){
    .StockList-container {
        height: 570px;
    }
    .StockList-header {
        margin-bottom: 10px;
    }
}

@media (max-height: 700px){
    .StockList-container {
        height: 450px;
    }
    .StockList-header {
        font-size: large;
        margin-bottom: 4px;
    }
    .StockList-resultHeader {
        display: grid;
        font-size: 8pt;
        grid-template-columns: 1fr 3fr 2fr;
    }
}