.Homepage-basics {
    text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


.Homepage-flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.Homepage-flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Homepage-width{
  width: 50%;
}

.Homepage--header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Homepage--link {
  color: #61dafb;
}

@keyframes Homepage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1100px){
 .Homepage-flexRow{
  height: 100px;
  font-size: 9pt;
  width: 100%;
 }
 .Homepage-flexColumn{
  font-size: 9pt;
  size: scale-down;
  height: 10%;
 }
.Homepage-width{
  width: 40%;
  justify-content: space-around;
  }
.Homepage--header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  }
}


