.ScoreboardPanel-flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .ScoreboardPanel-head{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .ScoreboardPanel-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}