.MarketActivity-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color:  #282c34;
    margin: 10px;
    width: 600px;
    height: 260px;
    border-radius: 10%;
    margin-left: 50px;
}

.MarketActivity-header{
    margin: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.MarketActivity-label {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

.MarketActivity-info {
    margin-right: 20px;
}

.MarketActivity-item {
    display: flex;
    justify-content: space-between;
    font-size: 13pt;
    margin-bottom: 24px;
}


@media (max-width: 1150px){
    .MarketActivity-header{
        font-size: 14pt;
    }
    .MarketActivity-item {
        font-size: 10pt;
    }
    .MarketActivity-label {
        margin-left: 10px;
    }
    .MarketActivity-info {
        margin-right: 10px;
    }
}

@media (max-width: 1000px){
    .MarketActivity-header{
        font-size: 12pt;
    }
    .MarketActivity-item {
        font-size: 8pt;
    }
    .MarketActivity-label {
        margin-left: 4px;
    }
    .MarketActivity-info {
        margin-right: 4px;
    }
}

@media (max-height: 800px){
    .MarketActivity-container {
        height: 200px;
    }
    .MarketActivity-header{
        margin-bottom: 30px;
    }
}

@media (max-height: 630px){
    .MarketActivity-container {
        height: 180px;
    }
    .MarketActivity-header{
        margin-bottom: 20px;
    }
    .MarketActivity-item {
        margin-bottom: 18px;
    }
}