.MarketActivity-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color:  #282c34;
    margin: 10px;
    width: 600px;
    height: 360px;
    border-radius: 10%;
    margin-left: 50px;
}